.thumbnail {
  @include ul-reset;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &:after{
    @include pseudo;
    top: 41px;
    width: 100%;
    height: 1px;
    background-color: rgba($color-lighten-grey, .2);
  }

  &__item {
    position: relative;
    padding: 10px 13px;
    cursor: pointer;

    &--active {
      &:after{
        @include pseudo;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $color-pink;
      }
      .thumbnail__button {
        font-weight: 600;
        color: $color-dark-grey;
      }
    }
  }

  &__button {
    padding: 0;
    font-size: 12px;
    color: $color-lighten-grey;
    border: none;
    background-color: transparent;
    @media (min-width: $screen-md) {
      font-size: 14px;
    }
  }
}