.social{
  @include ul-reset;
  display: flex;
  flex-direction: column;
  width: 45px;
  &__item{
    height: 40px;
  }

  &__link{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    &:after{
      @include pseudo;
      width: 100%;
      height: 100%;
      background-image: url('#{$imageDir}hexagon.svg');
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;
      transition: all $transition-time;
    }
    &:hover{
      &:after{
        opacity: 1;
      }
    }
  }

  &__name{
    @include hide-text;
  }
}