.portfolio {
  padding: 20px 0 50px;
  overflow: hidden;
  @media (min-width: $screen-md) {
    padding-bottom: 70px;
  }
  @media (min-width: $screen-xl) {
    padding-bottom: 115px;
  }

  &__inner {
    @media (min-width: $screen-xl) {
      @include container;
    }
  }

  &__description {
    margin: 0;
    margin-top: 20px;
    color: $color-dark-grey;
    text-align: center;
    @media (min-width: $screen-xl) {
      margin-top: 30px;
    }
  }

  &__thumbnail {
    max-width: 570px;
    margin: 0 auto;
    margin-top: 30px;
    @media (min-width: $screen-xl) {
      margin-top: 55px;
    }
  }

  &__carousel-list {
    @include ul-reset;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 30px -15px 0;
    //margin-top: 30px;
    @media (min-width: $screen-md) {
      margin-top: 50px;
    }
  }

  &__carousel-item {
    transform: scale(.75);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    padding: 25px 20px 20px 30px;
    color: $white;
    font-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &--1 {
      background-color: #071e39;
      background-image: url('#{$imageDir}portfolio-item1.jpg');
    }

    &--center {
      transform: scale(1);
      z-index: 2;
    }

    &:nth-child(3n+1) {
      margin-right: -55px;
      @media (min-width: $screen-md) {
        margin-right: -130px;
      }
    }

    &:nth-child(3n) {
      margin-left: -55px;
      @media (min-width: $screen-md) {
        margin-left: -130px;
      }
    }

    @media (min-width: $screen-md) {
      max-width: 470px;
      padding: 40px 30px 30px 50px;
      font-size: 18px;
    }
  }

  &__item-title {
    margin: 0;
    margin-top: 40px;
    font-size: 14px;
    text-transform: uppercase;
    @media (min-width: $screen-md) {
      margin-top: 50px;
      font-size: 24px;
    }
  }

  &__item-description {
    margin: 0;
    margin-top: 10px;

  }

  &__item-button {
    margin-left: auto;
  }
}