.portfolio{
  padding: 20px 0 50px;
  @media (min-width: $screen-md) {
    padding-bottom: 70px;
  }
  @media (min-width: $screen-xl) {
    padding-bottom: 115px;
  }

  &__inner{
    @include container;
  }

  &__description{
    margin: 0;
    margin-top: 20px;
    color: $color-dark-grey;
    text-align: center;
  }

  &__thumbnail{
    max-width: 570px;
    margin: 0 auto;
    margin-top: 30px;
  }

  &__carousel-list{
    @include ul-reset;
    position: relative;
    margin-top: 30px;
    @media (min-width: $screen-md) {
      margin-top: 50px;
    }
  }

  &__carousel-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 470px;
    margin: 0 auto;
    padding: 25px 20px 20px 30px;
    color: $white;
    font-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &--1{
      background-color: #071e39;
      background-image: url('#{$imageDir}portfolio-item1.jpg');
    }

    @media (min-width: $screen-md) {
      padding: 40px 30px 30px 50px;
      font-size: 18px;
    }
  }

  &__item-date{
    //display: block;
  }

  &__item-title{
    margin: 0;
    margin-top: 40px;
    font-size: 14px;
    text-transform: uppercase;
    @media (min-width: $screen-md) {
      margin-top: 50px;
      font-size: 24px;
    }
  }

  &__item-description{
    margin: 0;
    margin-top: 10px;
  }

  &__item-button{
    margin-left: auto;
  }
}