-
  var mainMenu = [
    {
      "id": "0",
      "name": "Главная",
      "url": "/"
    },
    {
      "id": "10",
      "name": "Услуги",
      "url": "/services"
    },
    {
      "id": "20",
      "name": "Разработка сайтов для бизнеса",
      "url": "/"
    },
  ];