// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.button {
  box-sizing: border-box;
  display: inline-flex;
  max-width: 100%;
  margin: 0;
  padding: $field-padding-vertical  $field-padding-horizontal;
  font-family: inherit;
  font-size: $font-size;
  color: $white;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  background-color: transparent;
  overflow: hidden;
  border: 0;
  vertical-align: middle;
  cursor: pointer;
  transition: all $transition-time;

  // &:visited {
  //   color: $text-color;
  // }

  //&:active,
  //&:focus {
  //  @include field-focus;
  //}

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  // &__icon {
  //   display: inline-block;
  //   vertical-align: middle;
  // }



  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   // border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     // border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     // border-color: $color-main;
  //   }
  // }
}
