// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {
  position: relative;
  padding: 23px 0 135px;
  color: $white;
  background-color: rgba(51, 51, 51, 0.8);
  background-image: url('#{$imageDir}bg-header-desktop2.jpg');
  background-repeat: no-repeat;
  background-position: bottom left 28%;
  background-size: cover;

  &:after {
    @include pseudo;
    left: 50%;
    transform: translateX(-50%);
    bottom: -21px;
    width: 85px;
    height: 70px;
    background-image: url('#{$imageDir}triangle.svg');
    background-repeat: no-repeat;
  }

  @media (min-width: $screen-md-small) {
    background-position: bottom left;
  }

  @media (min-width: $screen-md) {
    background-position: bottom right 50%;
  }

  @media (min-width: $screen-xl) {
    background-position: center bottom;
  }

  &__inner {
    @include container;
    position: relative;
  }

  &__top {
    display: flex;
    align-items: center;
  }

  &__img {
    height: 100%;
  }


  &__burger {
    margin-left: auto;
    @media (min-width: $screen-md) {
      margin-left: 0;
    }
  }

  &__button {
    display: none;
    @media (min-width: $screen-md) {
      display: block;
      margin-left: auto;
      margin-right: 55px;
    }
  }

  &__social {
    display: none;

    @media (min-width: $screen-md) {
      display: flex;
      margin-top: -100px;
      margin-left: 15px;
    }

    @media (min-width: $screen-xl) {
      margin-top: 20px;
      margin-left: 0;
    }

  }

  &__breadcrumbs {
    margin-top: 55px;
    @media (min-width: $screen-md) {
      margin-top: 30px;
    }
  }


  &__content {
    display: grid;
    grid-template-columns: auto;
    margin-top: 55px;
    @media (min-width: $screen-md) {
      grid-template-columns: auto 45px;
      margin-top: 70px;
    }
    @media (min-width: $screen-xl) {
      margin-top: 85px;
    }
  }

  &__content-wrapper {
    max-width: 450px;
    @media (min-width: $screen-xl) {
      max-width: 460px;
    }
  }


  &__title {
    margin: 0;
    font-size: 24px;
    font-weight: 100;
    line-height: 30px;
    text-transform: uppercase;
    @media (min-width: $screen-md) {
      font-size: 32px;
      line-height: 42px;
    }
  }

  &__title-strong {
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    @media (min-width: $screen-md) {
      display: inline-block;
      font-size: 36px;
      line-height: 42px;
    }
  }

  &__description {
    margin: 0;
    margin-top: 15px;
    font-weight: 200;

    &:first-of-type {
      margin-top: 25px;
    }
  }

  &__button-request {
    margin-top: 35px;
    @media (min-width: $screen-md) {
      margin-top: 65px;
    }

    @media (min-width: $screen-xl) {
      margin-top: 55px;
    }
  }
}
