// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {
  padding: 23px 0 135px;
  background-color: rgba(51, 51, 51, 0.8);
  background-image: url('#{$imageDir}bg-header-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;

  &__inner{
    @include container;
  }

  &__top{
    display: flex;
    align-items: center;
  }

  &__burger{
    margin-left: auto;
  }

  &__calculator{
    display: none;
  }

  &__social{
    display: none;
  }
}
