//- Все примеси в этом файле должны начинаться c имени блока (page-header)

mixin page-header(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов

  //- Вызов:
        +page-header()
          p «Шапка»
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-header--' + modsList[i].trim();
      }
    }

  header.page-header(class=allMods)&attributes(attributes)
    .page-header__inner
      .page-header__top
        +logo('#', 'white')
          img(class='page-header__img', src='images/logo.svg', alt='Логотип Senurable')
        +button('Рассчитать стоимость', 'pink, text-small, uppercase')(class='page-header__button', type='button')
        +burger()(class='page-header__burger')
      +breadcrumbs()(class='page-header__breadcrumbs')
        +breadcrumbs-item(1, 'Главная', '/home')
        +breadcrumbs-item(2,'Услуги', '/services')
        +breadcrumbs-item(3,'Разработка сайтов для бизнеса')
      section.page-header__content
        .page-header__content-wrapper
          h1.page-header__title
            strong.page-header__title-strong Разработка сайтов
            | для бизнеса
          p.page-header__description Мы разрабатываем красивые качественные сайты, с использованием современных технологий.
          p.page-header__description Выведем бизнес на новый уровень.
          +button('Запрос оценки стоимости', 'pink, line')(class='page-header__button-request', type='button')
        +social().page-header__social
          +social-item('Фейсбук', '#', 'hexagon')
            +social-icon('16', '16', '0 0 16 16', 'facebook')
          +social-item('Вконтакте', '#', 'hexagon')
            +social-icon('20', '13', '0 0 30 20', 'vk')
          +social-item('Linkedin', '#', 'hexagon')
            +social-icon('13', '13', '0 0 20 20', 'in')
          +social-item('Behance', '#', 'hexagon')
            +social-icon('18', '15', '', 'be')
