//- Все примеси в этом файле должны начинаться c имени блока (feedback)
//- ВАЖНО! Файл содержит 2 миксина

mixin feedback(title, description, mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов

  //- Вызов:
        +result('Что получите')
          p Инфо


  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
      allMods = allMods + ' feedback--' + modsList[i].trim();
      }
    }

  section.feedback(class=allMods)&attributes(attributes)
    .feedback__inner
      .feedback__content
        +title(title, 'white')
        p.feedback__description!= description
        //+form().feedback__form
        //  +field-text({
        //    title: 'Имя',
        //    mods: 'icon',
        //    attrs: {
        //        placeholder: 'Имя'
        //    }
        //  })
        //  +field-text({
        //    title: 'E-mail',
        //    mods: 'icon',
        //    attrs: {
        //        type: 'email',
        //        placeholder: 'E-mail'
        //    }
        //  })
        //  +field-text({
        //    title: 'Описание Вашей идеи',
        //    mods: 'icon',
        //    isTextarea: true,
        //    attrs: {
        //        type: 'textarea',
        //        placeholder: 'Расскажите подробнее о Вашей идее',
        //        rows: '6'
        //    }
        //  })
        //  +field-text({
        //    title: 'Прикрепить Техническое Задание или презентацию',
        //    attrs: {
        //        type: 'file'
        //    }
        //  })
        +form().feedback__form
          +form-label('Имя', 'icon, astronaut').feedback__label
            +input('icon-left-xxl')(type='text', placeholder='Имя')
          +form-label('Email', 'icon, rocket').feedback__label
            +input('icon-left-xl')(type='email', placeholder='E-mail')
          +form-label('Описание Вашей идеи', 'icon, telescope').feedback__label
            +input('icon-left-xl', true)(rows='6', placeholder='Расскажите подробнее о Вашей идее')
          +link('Прикрепить Техническое Задание или презентацию', '#', 'icon, icon-left, clip, no-hover').feedback__button-attach
          +button('Бесплатная оценка стоиости', 'pink, uppercase, full, xxl').feedback__button