//- iconId указывается без приставки icon-
-
  var serviceInfoList = [
  {
  text: 'Блоки',
  value: '<b>до 10</b>',
  iconId: 'stars',
  iconSize: {
  width: 55,
  height: 50
  }
  },
  {
  text: 'Наш опыт',
  value: '<b>30</b> проектов',
  iconId: 'robot',
  iconSize: {
  width: 63,
  height: 47
  }
  },
  {
  text: 'Сроки',
  value: '<b>30</b> дней',
  iconId: 'sun',
  iconSize: {
  width: 51,
  height: 50
  }
  },
  {
  text: 'Бюджет',
  value: '<b>$500 +</b>',
  iconId: 'dollar',
  iconSize: {
  width: 31,
  height: 51
  }
  }
  ];