//- Все примеси в этом файле должны начинаться c имени блока (page-footer)

mixin page-footer(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов
  //- Вызов:
        +page-footer()
          p «Подвал»
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-footer--' + modsList[i].trim();
      }
    }

  footer.page-footer(class=allMods)&attributes(attributes)
    .page-footer__inner
      h2.page-footer__title Полезная информация
      ul.page-footer__list
        li.page-footer__item
          h3.page-footer__title-item Контакты
          +contacts().page-footer__section
          +button('Заказать звонок', 'pink, uppercase, icon, phone, vertical-line').page-footer__button
        li.page-footer__item
          h3.page-footer__title-item Услуги
          +link().page-footer__section
            +link-item('Разработка сайтов для бизнеса', '#')
            +link-item('Уникальный фирменный стиль', '#')
            +link-item('Продвижение сайтов', '#')
            +link-item('Написание текстов и переводы', '#')
            +link-item('Маркетинговые исследования', '#')
            +link-item('Аутсорсинг продаж', '#')
        li.page-footer__item
          h3.page-footer__title-item Мы в соц.сетях
          +social('row').page-footer__section
            +social-item('Фейсбук', '#', 'background')
              +social-icon('16', '18', '0 0 14 16', 'facebook')
            +social-item('Вконтакте', '#', 'background')
              +social-icon('27', '15', '0 0 30 15', 'vk')
            +social-item('Linkedin', '#', 'background')
              +social-icon('25', '20', '0 0 20 17', 'in')
            +social-item('Twitter', '#', 'background')
              +social-icon('20', '20', '0 0 20 18', 'tw')
            +social-item('Behance', '#', 'background')
              +social-icon('22', '14', '0 0 27 16', 'be')
            +social-item('Instagram', '#', 'background')
              +social-icon('22', '14', '0 0 27 16', 'be')
        li.page-footer__item
          h3.page-footer__title-item Полезные ссылки
          +link().page-footer__section
            +link-item('Бриф на разработку сайта', '#')
            +link-item('Бриф на разработку фирменного стиля', '#')
            +link-item('База знаний', '#')
            +link-item('О нас', '#')
    +copyright()





