// В этом файле должны быть стили для БЭМ-блока about-us, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.about-us {
  margin-bottom: 110px;
  padding-top: 35px;
  background-color: $section-bg;
  @media (min-width: $screen-md) {
    margin-bottom: 400px;
    padding-top: 80px;
  }

  @media (min-width: $screen-xxl) {
    margin-bottom: 0;
    padding-bottom: 115px;
    overflow: hidden;
  }

  &__inner {
    @include container;
  }

  &__title {
    max-width: 465px;
  }

  &__description {
    margin: 0;
    margin-top: 15px;
    @media (min-width: $screen-md) {
      max-width: 610px;
      margin-top: 25px;
    }
    @media (min-width: $screen-xl) {
      max-width: 450px;
    }
  }

  &__list {
    @include ul-reset;
    position: relative;
    display: grid;
    grid-row-gap: 30px;
    margin-top: 25px;
    padding-bottom: 205px;
    @media (min-width: $screen-md) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 45px 20px;
      margin-top: 45px;
    }

    @media (min-width: $screen-xl) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 50px 40px;
    }

    @media (min-width: $screen-xxl) {
      grid-column-gap: 20px;
      max-width: 760px;
      margin-top: 40px;
      padding-bottom: 0;
    }

    &:after{
      @include pseudo;
      left: 50%;
      transform: translateX(-50%);
      bottom: -70px;
      width: 290px;
      height: 255px;
      background-image: url('#{$imageDir}about-img.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      @media (min-width: $screen-md) {
        bottom: -300px;
        width: 510px;
        height: 475px;
      }
      @media (min-width: $screen-xxl) {
        bottom: auto;
        transition: none;
        left: auto;
        right: -100%;
        top: -80px;
        width: 480px;
        height: 475px;
      }
    }
  }

  &__item {
    &:last-child {
      display: none;
      @media (min-width: $screen-md) {
        display: block;
      }
    }

    &:nth-child(1) {
      @media (min-width: $screen-md) {
        order: 1;
      }
    }

    &:nth-child(2) {
      @media (min-width: $screen-md) {
        order: 6;
      }
    }

    &:nth-child(3) {
      @media (min-width: $screen-md) {
        order: 3;
      }
      @media (min-width: $screen-xl) {
        margin-top: 0;
      }
    }

    &:nth-child(4) {
      @media (min-width: $screen-md) {
        order: 5;
      }
    }

    &:nth-child(5) {
      @media (min-width: $screen-md) {
        order: 2;
        margin-top: 0;
      }
    }

    &:nth-child(6) {
      @media (min-width: $screen-md) {
        order: 4;
      }
    }
  }

  &__item-title {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 40px;
    padding-left: 55px;
    font-size: 18px;
    line-height: 22px;
    color: $color-dark-grey;
    @media (min-width: $screen-md) {
      align-items: flex-start;
    }

    @media (min-width: $screen-xl) {
      align-items: center;
    }
  }

  &__icon {
    position: absolute;
    left: 0;
  }

  &__item-description {
    margin: 0;
    margin-top: 25px;

    &:not(:first-of-type) {
      margin-top: 10px;
    }
  }

  &__question{
    display: block;
    font-weight: 700;
    text-decoration: none;
  }
}
