//- iconId указывается без приставки icon-

-
  var aboutUsList = [
    {
      title: 'Профессиональная команда',
      text: 'В нашей команде работают профессиональные макетологи, копирайтеры. дизайнеры, front-end и back-end разработчики с многолетним опытом работы.',
      iconId: 'robot2',
      iconSize: {
        width: 34,
        height: 43
      }
    },
    {
      title: 'Холим и лелеем наших клиентов',
      text: 'Мы всегда рады новым заказам, внимательны к существующим проектам и дорожим каждым клиентом. Как правило, у нас нет хронической перегруженности проектами, как у больших студий.',
      iconId: 'robot3',
      iconSize: {
        width: 55,
        height: 43
      }
    },
    {
      title: 'Оперативная поддержка',
    text: 'Быстро отвечаем в мессенджерах и всегда на связи.',
    textMore: 'Готовы ответить на любые вопросы. Проверье это прямо сейчас по ссылке - <a class="about-us__question" href="#">задать вопрос</a>',
      iconId: 'phone',
      iconSize: {
        width: 43,
        height: 46
      }
    },
    {
      title: 'Расскажем и покажем',
    text: 'Часто бывает так, что наши клиенты не знают, как должно быть. Для этого есть мы.',
    textMore: 'Расскажем, как делают другие, покажем варианты и предложим лучший из возможных путей реализации.',
      iconId: 'tablet',
      iconSize: {
        width: 42,
        height: 43
      }
    },
    {
      title: 'Комплексные услуги',
    text: 'Кроме разработки сайтов мы также предлагаем продвижение сайтов, графический дизайн, копирайтинг, перевод сайта на иностранные языки.',
    textMore: 'Готовы выполнить Ваш проект под ключ, от А до Я.',
      iconId: 'inyan',
      iconSize: {
        width: 42,
        height: 43
      }
    },
    {
      title: 'Прозрачные <br> условия, договор',
      text: 'Все условия прописаны в договоре. Дополнительные затраты возможны только при заказе работ, не указанных в соглашении.',
      iconId: 'atom',
      iconSize: {
        width: 42,
        height: 39
      }
    }
  ];
