//- iconId указывается без приставки icon-

//TODO Решить вопрос интерполяции тегов в строке обьекта

-
  var aboutUsList = [
    {
      title: 'Профессиональная команда',
      text: 'В нашей команде работают профессиональные макетологи, копирайтеры. дизайнеры, front-end и back-end разработчики с многолетним опытом работы.',
      iconId: 'robot2',
      iconSize: {
        width: 34,
        height: 43
      }
    },
    {
      title: 'Холим и лелеем наших клиентов',
      text: 'Мы всегда рады новым заказам, внимательны к существующим проектам и дорожим каждым клиентом. Как правило, у нас нет хронической перегруженности проектами, как у больших студий.',
      iconId: 'robot2',
      iconSize: {
        width: 42,
        height: 43
      }
    },
    {
      title: 'Оперативная поддержка',
      text: 'Быстро отвечаем в мессенджерах и всегда на связи. Готовы ответить на любые вопросы. Проверье это прямо сейчас по ссылке - #[a(href=\'tel:+70000000000\') +7 000 000 00 00]',
      iconId: 'robot2',
      iconSize: {
        width: 42,
        height: 43
      }
    },
    {
      title: 'Холим и лелеем наших клиентов',
      text: 'Мы всегда рады новым заказам, внимательны к существующим проектам и дорожим каждым клиентом. Как правило, у нас нет хронической перегруженности проектами, как у больших студий.',
      iconId: 'robot2',
      iconSize: {
        width: 42,
        height: 43
      }
    },
    {
      title: 'Холим и лелеем наших клиентов',
      text: 'Мы всегда рады новым заказам, внимательны к существующим проектам и дорожим каждым клиентом. Как правило, у нас нет хронической перегруженности проектами, как у больших студий.',
      iconId: 'robot2',
      iconSize: {
        width: 42,
        height: 43
      }
    },
  ];
