.title {
  margin: 0;
  font-size: $font-size-title-xs;
  font-weight: 700;
  line-height: 28px;
  @media (min-width: $screen-md) {
    font-size: $font-size-title-md;
    font-weight: 900;
    line-height: 44px;
  }

  &--grey {
    color: $color-dark-grey;
  }

  &--white {
    color: $white;
  }

  &--center {
    text-align: center;
  }

  &--angle {
    position: relative;

    &:after {
      @include pseudo;
      top: -10px;
      left: -10px;
      width: 25px;
      height: 25px;
      transform: skewY(-50deg);
      background-color: $section-bg;
      @media (min-width: $screen-md) {
        top: -12px;
        left: -5px;
      }
    }
  }

  &--about-us{
    max-width: 465px;
  }
}