.result {
  position: relative;
  padding: 50px 0;
  background-image: url('#{$imageDir}result-bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 292px;
  @media (min-width: $screen-md) {
    padding: 60px 0;
  }
  @media (min-width: $screen-xl) {
    padding: 100px 0 115px;
    background-size: auto 355px;
  }
  @media (min-width: $screen-xxl) {
    background-size: 100% 355px;
  }

  &__inner {
    @include container;
  }

  &__title {
    max-width: 140px;
    margin: 0 auto;
    @media (min-width: $screen-md) {
      max-width: 300px;
    }
  }

  &__description {
    max-width: 370px;
    margin: 0 auto;
    margin-top: 30px;
    font-weight: 100;
    color: $white;
    @media (min-width: $screen-md) {
      margin-top: 25px;
    }
  }

  &__list {
    @include ul-reset;
    position: relative;
    display: grid;
    grid-row-gap: 35px;
    margin-top: 20px;
    padding-top: 275px;

    @media (min-width: $screen-md) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 75px 20px;
      margin-top: 150px;
      padding: 0;
    }

    @media (min-width: $screen-lg) {
      grid-column-gap: 60px;
    }

    @media (min-width: $screen-xl) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 75px 105px;
      margin-top: 115px;
    }

    &:before {
      @include pseudo;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 290px;
      height: 230px;
      background-image: url('#{$imageDir}result-img-mobile.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      @media (min-width: $screen-md) {
        left: 0;
        transform: none;
      }
      @media (min-width: $screen-lg) {
        left: 75px;
        width: 310px;
        background-image: url('#{$imageDir}result-img-desktop.png');
      }
      @media (min-width: $screen-xl) {
        top: -75px;
        left: 50%;
        transform: translateX(-53%);
        width: 450px;
        height: 340px;
      }
    }
  }

  &__item {
    &:nth-child(1) {
      @media (min-width: $screen-md) {
        grid-row-start: 2;
      }
      @media (min-width: $screen-xl) {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
      }

      .result__item-description:first-of-type {
        @media (min-width: $screen-md) {
          margin-top: 70px;
        }
      }
    }

    &:nth-child(2) {
      @media (min-width: $screen-md) {
        grid-column-start: 2;
      }
      @media (min-width: $screen-xl) {
        grid-column: 1 / 2;
      }

      .result__item-description:first-of-type {
        @media (min-width: $screen-md) {
          margin-top: 70px;
        }
      }
    }

    &:nth-child(3) {
      @media (min-width: $screen-xl) {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
      }
    }

    &:nth-child(4) {
      @media (min-width: $screen-xl) {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
      }
    }

    &:nth-child(5) {
      @media (min-width: $screen-md) {
        grid-row-start: 2;
        grid-column-start: 2;
      }
      @media (min-width: $screen-xl) {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
      }
    }
  }

  &__item-title {
    display: block;
    font-size: 21px;
    line-height: 28px;
    color: $color-dark-grey;
    text-align: center;
    @media (min-width: $screen-md) {
      text-align: left;
    }
  }

  &__item-description {
    margin: 0;
    margin-top: 15px;

    @media (min-width: $screen-md) {
      margin-top: 35px;
    }

    &:not(:first-of-type) {
      margin-top: 10px;
    }
  }
}