
-
  var resultList = [
  {
  title: 'Удобная панель управления',
  text: 'В качестве системы управления контентом подключаем CMS MODX и Wordpress.',
  textMore: 'В админке Вы можете загружать и менять тексты, картинки, добавлять элементы списка.'
  },
  {
  title: 'Адаптивные страницы',
  text: 'Сайт будет хорошо смотреться как на больших HD экранах, так и на смартфонах и планшетах.',
  textMore: 'Так как сейчас более 40% пользователей посещают сайты с мобильных устройств, сайты верстаются по принципу mobile first.'
  },
  {
  title: 'Грамотная подготовка к продвижению',
  text: 'Мы не просто создаем сайты, а еще выполняем комплекс мероприятий по подготовке сайта к продвижению: выполняем базовое внутреннее SEO и оптимизацию скорости загрузки страниц.'
  },
  {
  title: 'Современный дизайн',
  text: 'Мы в курсе современных тенденций в сфере дизайна. Регулярно просматриваем лучшие работы в сфере дизайна, перенимаем опыт лучших дизайнеров и UI/UX специалистов мира',
  textMore: 'Часто предлагаем несколько вариантов на выбор, чтобы достичь максимального ощущения красоты, стиля и доверия.'
  },
  {
  title: 'Кроссбраузерный семантический код',
  text: 'Уникальный, валидный, максимально семантический код позволит Вашему сайту быстрее продвинуться в поиске.',
  textMore: 'Учитываем и добросовестно следуем рекомендациям Google и Яндекс.'
  }
  ];
