// Глобальные стили
@import "../../layouts/layout.scss";

// Стили блоков
@import "../../sections/page-header/page-header.scss";
@import "../../sections/page-footer/page-footer.scss";
@import "../../blocks/logo/logo.scss";
@import "../../blocks/breadcrumbs/breadcrumbs.scss";
