// Глобальные стили
@import "../../layouts/layout.scss";

// Стили блоков
@import "../../blocks/logo/logo.scss";
@import "../../blocks/breadcrumbs/breadcrumbs.scss";
@import "../../blocks/social/social.scss";
@import "../../blocks/title/title.scss";
@import "../../blocks/tabs/tabs.scss";
@import "../../blocks/service-info/service-info.scss";
@import "../../blocks/form/form.scss";
@import "../../blocks/field-text/field-text.scss";
@import "../../blocks/contacts/contacts.scss";
@import "../../blocks/link/link.scss";
@import "../../blocks/copyright/copyright.scss";
@import "../../blocks/input/input.scss";
@import "../../blocks/list/list.scss";
@import "../../sections/page-header/page-header.scss";
@import "../../sections/page-footer/page-footer.scss";
@import "../../sections/about-us/about-us.scss";
@import "../../sections/result/result.scss";
@import "../../sections/services/services.scss";
@import "../../sections/feedback/feedback.scss";
