// Глобальные стили
@import "../../layouts/layout.scss";

// Стили блоков
@import "../../blocks/logo/logo.scss";
@import "../../blocks/breadcrumbs/breadcrumbs.scss";
@import "../../blocks/social/social.scss";
@import "../../blocks/title/title.scss";
@import "../../sections/page-header/page-header.scss";
@import "../../sections/page-footer/page-footer.scss";
@import "../../sections/about-us/about-us.scss";
@import "../../sections/result/result.scss";
@import "../../sections/services/services.scss";
