@mixin hide-text {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin pseudo ($content: '', $position: absolute, $display: block) {
  content: $content;
  position: $position;
  display: $display;
}

@mixin ul-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
