.contacts {
  @include ul-reset;

  &__item {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__wrapper-icon {
    display: flex;
    justify-content: center;
    min-width: 35px;
    margin-right: 15px;
  }
}