//- iconId указывается без приставки icon-
-
  var contactsList = [
  {
  text: 'info@senurable.com',
  iconId: 'mail',
  iconSize: {
  width: 31,
  height: 16
  }
  },
  {
  text: '+3 8096 16 00 237',
  iconId: 'phone2',
  iconSize: {
  width: 13,
  height: 27
  }
  }
  ];